<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>966535779882-685ngau8ei1lmipi3gghj5e73gem5mb6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.966535779882-685ngau8ei1lmipi3gghj5e73gem5mb6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>966535779882-mf53p8rdnecl1jgqb91lc6gbdmo5j9kj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC1StVrGKifxOS838fCZtIGZ1-0GHzJgbI</string>
	<key>GCM_SENDER_ID</key>
	<string>966535779882</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.awesomeApp.macos</string>
	<key>PROJECT_ID</key>
	<string>awesome-app-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>awesome-app-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:966535779882:ios:a9b9b68601b96c3e479553</string>
</dict>
</plist>